@page
@model RegisterModel
@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Registro";
  
    ViewData["ClassBody"] = "register-page";
}

<div class="register-box">
    <div class="register-logo">
        Gestión Academica
    </div>

    <div class="card">
        <div class="card-body register-card-body">
            <p class="login-box-msg">Registarte</p>

                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Nombre completo">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input asp-for="Input.Email" type="email" class="form-control col-12" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    
                            <span asp-validation-for="Input.Email" class="text-danger col-12"></span>
                      
                    </div>
                    <div class="input-group mb-3">
                        <input asp-for="Input.Password" type="password" class="form-control" placeholder="Contraseña">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                        <span asp-validation-for="Input.Password" class="text-danger col-12"></span>
                    </div>
                    <div class="input-group mb-3">
                        <input asp-for="Input.ConfirmPassword" type="password" class="form-control" placeholder="Repite la contraeña">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger col-12"></span>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="icheck-primary">
                                <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                                <label for="agreeTerms">
                                    Acepto todos los <a href="#">terminos y condiciones</a>
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Registrarme</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <div class="social-auth-links text-center">
<p>- O -</p>
                <a href="#" class="btn btn-block btn-primary">
                    <i class="fab fa-facebook mr-2"></i>
                    Registarte con Facebook
                </a>
                <a href="#" class="btn btn-block btn-danger">
                    <i class="fab fa-google-plus mr-2"></i>
                    Registarte con Google+
                </a>
            </div>
            <p class="text-center mb-0">
                <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl" class="text-center">Ya tengo una cuenta!</a>
            </p>
        </div>
        <!-- /.form-box -->
    </div><!-- /.card -->
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
