@page
@model RegisterModel
@{
    Layout = "_StepForms";
    ViewData["Title"] = "Registro";
  
    ViewData["ClassBody"] = "skin-blue sidebar-mini";
}



<div class="container">
    <div class="row justify-content-center">

        <div class="col-md-8">
            <div class="register-logo mt-1">
                Gestión Academica <br />
                
            </div>
            <div class=" alert alert-danger alert-dismissible">
                <h4 class="etitle"><i class="icon fa fa-ban"></i> Error - Formulario incompleto!</h4>
                <div asp-validation-summary="All"></div>
                Faltan campos por diligenciar!
            </div>

            <form id="register" class="steps" method="post" novalidate>
                <ul id="progressbar">
                    <li class="active">Información basica</li>
                    <li>Contacto</li>
                    <li>Inicio de sesión</li>
                </ul>
                <!-- Información basica -->
                <div class="card">
                    <div class="card-header bg-primary">
                        Información Basica
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="DocumentType">Tipo de Documento <strong class="required">*</strong></label>
                                    <input asp-for="Input.DocumentType" type="text" name="DocumentType" required="required" data-rule-required="true" data-msg-required="Selecciona un tipo de documento" class="form-control" data-name="Tipo Documento" />
                                    <span class="error1" style="display: none;">
                                        <i class="error-log fa fa-exclamation-triangle"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Document">Documento <strong class="required">*</strong></label>
                                    <input asp-for="Input.Document" type="text" name="Document" required="required" data-rule-required="true" data-msg-required="Ingresar el número de documento" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Name">Nombre <strong class="required">*</strong></label>
                                    <input asp-for="Input.Name" type="text" name="Name" required="required" data-rule-required="true" data-msg-required="Ingresa tu nombre" class="form-control" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Surname">Apellidos <strong class="required">*</strong></label>
                                    <input asp-for="Input.Surname" type="text" name="Surname" required="required" data-rule-required="true" data-msg-required="Ingresa tu apellido" class="form-control" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Birthdate">Fecha de nacimiento <strong class="required">*</strong></label>
                                    <input id="birthdate" asp-for="Input.Birthdate" type="text" name="Birthdate" required="required" data-rule-required="true" data-msg-required="Ingresa tu Fecha de nacimiento" class="form-control" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Gender">Genero <strong class="required">*</strong></label>
                                    <input asp-for="Input.Gender" type="text" name="Gender" required="required" data-rule-required="true" data-msg-required="Selecciona tu genero" class="form-control" />
                                </div>
                            </div>

                            <div class="col-md-12">
                                <input type="button" data-page="1" name="next" class="next btn btn-primary float-right" value="Siguiente" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Información basica -->
                <!-- Información de contacto -->
                <div class="card">
                    <div class="card-header bg-primary">
                        Información Basica
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Email">Email <strong class="required">*</strong></label>
                                    <input asp-for="Input.Email" type="email" name="Email" required="required" data-rule-required="true" data-msg-required="Ingresa tu email" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Address">Direccion</label>
                                    <input asp-for="Input.Address" type="text" name="Address"  class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Telephone">Telefono <strong class="required">*</strong></label>
                                    <input asp-for="Input.Telephone" type="text" name="Telephone" required="required" data-rule-required="true" data-msg-required="Ingresa tu telefono celular" class="form-control" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Phone">Telefono fijo</label>
                                    <input asp-for="Input.Phone" type="text" name="Phone"  class="form-control" />
                                </div>
                            </div>

                            <div class="col-md-12">
                                <input type="button" data-page="2" name="next" class="next btn btn-primary float-right ml-2" value="Siguiente" />
                                <input type="button" data-page="2" name="previous" class="previous btn btn-primary float-right" value="Anterior" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Información de contacto -->
                <!-- Información de inicio de sesión -->
                <div class="card">
                    <div class="card-header bg-primary">
                        Información de inicio de sesión
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="UserName">Usuario</label>
                                    <input asp-for="Input.UserName" type="text" name="UserName" required="required" data-rule-required="true" data-msg-required="Ingresa tu nombre de usuario" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Password">Contraseña</label>
                                    <input asp-for="Input.Password" type="password" name="Password" required="required" data-rule-required="true" data-msg-required="Ingresa tu contraseña" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="ConfirmPassword">Confirmar Contraseña</label>
                                    <input asp-for="Input.ConfirmPassword" type="password" name="ConfirmPassword" required="required" data-rule-required="true" data-msg-required="Las contraseñas no coinciden" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <input id="submit" class="next btn btn-primary float-right next" type="submit" value="Siguiente">
                                <input type="button" data-page="2" name="previous" class="previous btn btn-primary float-right" value="Anterior" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Información de inicio de sesión -->
               

                <!-- Datos Basicos
       <div class="card">
           <div class="card-body">

               <div class="row">
                   <div class="col-md-12 text-center">
                       <h3>Información basica</h3>
                   </div>
                   <div class="col-md-6">
                       <div class="form-group">
                           <label for="DocumentType">Tipo Documento:</label>
                           <input asp-for="Input.DocumentType" type="text" name="DocumentType" class="form-control"  data-rule-required="true" data-name="Tipo documento" />

                       </div>
                   </div>
                   <div class="col-md-6">
                       <div class="form-group">
                           <label for="Document">Documento:</label>
                           <input asp-for="Input.Document" type="text" name="Document" class="form-control" required data-rule-required="true" data-name="Documento" />
                           <span></span>
                       </div>
                   </div>
                   <div class="col-md-6">
                       <div class="form-group">
                           <label for="Name">Nombre:</label>
                           <input asp-for="Input.Name" type="text" name="Name" class="form-control" required="required" data-rule-required="true" data-name="Nombre" />
                           <span></span>
                       </div>
                   </div>
                   <div class="col-md-6">
                       <div class="form-group">
                           <label for="Surname">Apellidos:</label>
                           <input asp-for="Input.Surname" type="text" name="Surname" class="form-control" required="required" data-rule-required="true" data-name="Apellidos" />
                           <span></span>
                       </div>
                   </div>
                   <div class="col-md-6">
                       <div class="form-group">
                           <label for="Birthdate">Fecha de nacimiento:</label>
                           <input asp-for="Input.Birthdate" type="text" name="Birthdate" class="form-control datepicker" required="required" data-rule-required="true" data-name="Fecha de nacimiento" />
                           <span></span>
                       </div>
                   </div>
                   <div class="col-md-6">
                       <div class="form-group">
                           <label for="Gender">Genero:</label>
                           <input asp-for="Input.Gender" type="text" name="Gender" class="form-control" required="required" data-rule-required="true" data-name="Genero" />
                       </div>
                       <span></span>
                   </div>
                   <div class="col-md-12">
                       <input type="submit" data-page="1" name="next" class="next btn btn-primary float-right" value="Sigiente"/>
                   </div>
               </div>
           </div>
       </div>


       <div class="card">
           <div class="card-header bg-primary">
               Información de contacto
           </div>
           <div class="card-body">
               <div class="row">
                   <div class="col-md-6">
                       <div class="form-group">
                           <label for="Email">Email:</label>
                           <input asp-for="Input.Email" type="text" name="Email" class="form-control" required="required" data-rule-required="true" data-name="Email" />
                       </div>
                   </div>
                   <div class="col-md-6">
                       <div class="form-group">
                           <label for="Address">Dirección:</label>
                           <input asp-for="Input.Address" type="text" name="Address" class="form-control" required="required" data-rule-required="true" data-name="Dirección" />
                       </div>
                   </div>
                   <div class="col-md-6">
                       <div class="form-group">
                           <label for="Telephone">Telefono:</label>
                           <input asp-for="Input.Telephone" type="text" name="Telephone" class="form-control" required="required" data-rule-required="true" data-name="Telefono" />
                       </div>
                   </div>
                   <div class="col-md-6">
                       <div class="form-group">
                           <label for="Phone">Telefono fijo:</label>
                           <input asp-for="Input.Phone" type="text" name="Phone" class="form-control" required="required" data-rule-required="true" data-name="Telefono Fijo" />
                       </div>

                   </div>

                   <div class="col-md-12">
                       <button class="next btn btn-primary float-right">Sigiuente</button>
                       <button class="previous btn btn-primary float-right mr-3">anterior</button>

                   </div>
               </div>
           </div>
       </div>

       <div class="card">
           <div class="card-header bg-priamry">
               Información de inicio de sesion
           </div>
           <div class="card-body">
               <div class="row">
                   <div class="col-md-12">
                       <div class="form-group">
                           <label for="UserName">Usuario:</label>
                           <input asp-for="Input.UserName" type="text" name="UserName" class="form-control" required="required" data-rule-required="true" data-name="Usuario" />
                       </div>
                   </div>
                   <div class="col-md-6">
                       <div class="form-group">
                           <label for="Password">Contraseña:</label>
                           <input asp-for="Input.Password" type="password" name="Password" class="form-control" required="required" data-rule-required="true" data-name="Contraseña"/>
                       </div>
                   </div>
                   <div class="col-md-6">
                       <div class="form-group">
                           <label for="ConfirmPassword">Confirmar Contraseña:</label>
                           <input asp-for="Input.ConfirmPassword" type="password" name="ConfirmPassword" class="form-control" required="required" data-rule-required="true" data-name="Contraseña"/>
                       </div>
                   </div>
                   <div class="col-md-12">
                       <button type="submit" class="btn btn-primary float-right mr-3 submit"> Finalizar registro </button>
                       <button class="next btn btn-primary float-right">Sigiuente</button>

                   </div>

               </div>
           </div>
       </div>



    Datos de Contacto -->
            </form>
        </div>
    </div>
        
        
        
</div>


 

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    
}
